{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
  <h3 class="text-center mt-3">My Profile</h3>
<hr>
<div class="row">
<!-- displaying  Username-->
  <div class="col-4">


    {% if user.profile_pic_path %}

  <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

  {%else%}
  <p>No profile picture</p>

  {% endif %}

</div>

<div class="col-8">
 <!--Displaying user bio-->
  <div class="mr-5">
    <span class="row">
      <h3 class="h3"> Username : </h3><p class="h3">{{user.username| capitalize}} </p>
    </span>
    {% if user.bio %}
    <p class="h3"> Bio : {{user.bio}}</p>
  {%else%}
    <p> {{user.username| capitalize}} has no bio </p>
  {% endif %}

  </div>
  {% if user == current_user %}
  <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data" class="pt-5">
    <div class="form-group">
      <input type="file"  name="photo" class="form-control" required>
    </div>
    <div class="form-group">
      <!-- <input type="submit" class="form-control"> -->
      <button class="btn btn-info" type="submit">Submit</button>
    </div>
  </form>
    {% endif %}

    {% if user == current_user %}
<a href="{{url_for('main.update_profile',uname=user.username)}}" class="btn btn-default btn-center -center">
  Edit Profile</a>
{% endif %}

</div>
</div>

  <h3 class="text-uppercase text-center"> My Pitches</h3>
  <hr>
 {{macro.displayPitches(pitches)}}
</div>
{% endblock %}
  </div>

  

  